APP_NAME=Cultiva
APP_ENV=testing
APP_KEY=
APP_DEBUG=true

DB_CONNECTION=sqlite
DB_DATABASE=:memory:

GEO_PROVIDER=brasilapi

BRASILAPI_BASE_URL=https://brasilapi.com.br/api/cep/v2
BRASILAPI_TIMEOUT=10
