APP_NAME=Cultiva
APP_ENV=testing
APP_KEY=
APP_DEBUG=true

APP_LOCALE=pt_BR

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=app
DB_USERNAME=root
DB_PASSWORD=root

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=secret
REDIS_PORT=6379

GEO_PROVIDER=brasilapi

BRASILAPI_BASE_URL=https://brasilapi.com.br/api/cep/v2
BRASILAPI_TIMEOUT=10
